version: '3.8'

services:
    api:
        build:
            context: .
            dockerfile: backend/server/Dockerfile
        ports:
            - "8000:8000"
        environment:
            DATABASE_URL: postgresql://user:postgres@db:5432/candid
            FLASK_ENV: dev
            FLASK_APP: "app.app:create_app"
        depends_on:
            - db
            - polis
        volumes:
            - .:/app # Mount current directory to /app in container for development

    db:
        build:
            context: backend/database/
            dockerfile: ./Dockerfile
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data # Persist data

    polis:
        build:
            context: ./backend/polis-sysbox
            dockerfile: Dockerfile
        runtime: sysbox-runc
        privileged: true
        ports:
          - "5000:5000"    # Polis API server
          - "5433:5432"    # Polis PostgreSQL (avoiding conflict with your db)
          - "8081:8080"    # Polis file server
          - "8005:8005"    # SES local email service
          - "3000:3000"    # OIDC simulator
          - "8001:8001"    # DynamoDB admin
          - "8080:80"      # Polis UI
          - "443:443"      # Polis UI
        volumes:
          - ./backend/polis-sysbox/polis:/workspace
          - polis_docker_data:/var/lib/docker
        working_dir: /workspace
        environment:
          - DOCKER_TLS_CERTDIR=

volumes:
    postgres_data:
    polis_docker_data:
